@model Mutualex.Models.property
@{
    ViewBag.Title = "Change_Pass";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    TempData["PageTitle"] = "Change Password";
}
@if (TempData["MSG"] != null)
{
    <div class="alert alert-success alert-block fade in alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@TempData["MSG"]</strong>
    </div>
}

<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    Change Password
                </div>

                @using (Html.BeginForm("Change_Pass", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "horizontal-form" }))
                {
                    <div class="panel-body pal">
                        <div class="row">
                            <div class="col-md-12">
                                <p id="MSG1"></p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Old Password :<span class="require">*</span></label>
                                    <div class="input-icon right">
                                        @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Old Password", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">New Password :<span class="require">*</span></label>
                                    <div class="input-icon right">
                                        @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "New Password", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Confirm Password<span class="require">*</span></label>
                                    <div class="input-icon right">
                                        @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "Confirm Password", @required = "required", @class = "form-control", @onkeyup = "checkPass(); return false;" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-green" id="PassEdit">Submit</button>&nbsp;
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
       function checkPass() {

           var pass1 = document.getElementById('Password');
           var pass2 = document.getElementById('CnfPassword');
           var btn = document.getElementById('PassEdit');

           var message = document.getElementById('MSG1');

           var goodColor = "#66cc66";
           var badColor = "#ff6666";

           if (pass1.value == pass2.value) {
               pass2.style.backgroundColor = "#fff";
               message.style.color = goodColor;
               btn.disabled = false;
               message.innerHTML = "Password Match!"
           } else {
             //  pass2.style.backgroundColor = badColor;
               message.style.color = badColor;
               btn.disabled = true;
               message.innerHTML = "Password Do Not Match!"
           }
       }
    </script>
}




