@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: center; padding: 37px">
    <h2 style="color: #bd8f36">ooopss..Something Went Wrong!</h2>
    @*<img src="~/images/donation-Success.jpg" />*@
    <br /><br />
    <h3 style="color: #bd8f36">We are sorry for this..Please Try Again!</h3>
</div>


<script>


    window.onload = function () {

        document.getElementById('HeaderTemplt').style.display = "none"

    }


</script>






