
@{
    ViewBag.Title = "Donation Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: center; padding: 37px">
    <h2 style="color: #bd8f36">Your Donation Processed Successfully</h2>
    @*<img src="~/images/donation-Success.jpg" />*@
    <br /><br />
    <h3 style="color: #bd8f36">Thanks a Lot For Your Donation.</h3>
</div>


<script>


    window.onload = function () {

        document.getElementById('HeaderTemplt').style.display = "none"

    }


</script>




